<a href="https://colab.research.google.com/github/datgerhardt/madewithml101/blob/main/NumPy101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy Basics

In [2]:
import numpy as np

In [3]:
np.random.seed(seed=1234) # set seed for reproducibility

In [4]:
# Scalar 
x= np.array(6)
print("x: ", x)
print("x ndim: ", x.ndim) # num of dimensions
print("x shape: ", x.shape) # dimensions
print("x size: ", x.size) # size of element
print("x dtype: ", x.dtype) # data type

x:  6
x ndim:  0
x shape:  ()
x size:  1
x dtype:  int64

In [5]:
# Vector
x = np.array([1.3, 2.2, 17])
print("x: ", x)
print("x ndim: ", x.ndim) 
print("x shape: ", x.shape)
print("x size: ", x.size) 
print("x dtype: ", x.dtype) # take notice of this

x:  [ 1.3  2.2 17. ]
x ndim:  1
x shape:  (3,)
x size:  3
x dtype:  float64

In [6]:
# Matrix
x = np.array([[1.3, 2.2], [17.9]])
print("x: ", x)
print("x ndim: ", x.ndim) 
print("x shape: ", x.shape)
print("x size: ", x.size) 
print("x dtype: ", x.dtype) # take notice of this

x:  [list([1.3, 2.2]) list([17.9])]
x ndim:  1
x shape:  (2,)
x size:  2
x dtype:  object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray

In [7]:
# Matrix
x = np.array([[1.3, 2.2], [17.9,23.0]])
print("x: ", x)
print("x ndim: ", x.ndim) 
print("x shape: ", x.shape)
print("x size: ", x.size) 
print("x dtype: ", x.dtype) # take notice of this

x:  [[ 1.3  2.2]
 [17.9 23. ]]
x ndim:  2
x shape:  (2, 2)
x size:  4
x dtype:  float64

In [8]:
# 3-D Tensor
x = np.array([[[1, 2],[3,4]], [[5,6],[7,8]]])
print("x: ", x)
print("x ndim: ", x.ndim) 
print("x shape: ", x.shape)
print("x size: ", x.size) 
print("x dtype: ", x.dtype)

x:  [[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]
x ndim:  3
x shape:  (2, 2, 2)
x size:  8
x dtype:  int64

# Functions

In [27]:
# Functions
print ("np.zero((2,2)):\n", np.zeros((2,2)))
print ("np.ones((2,2)):\n", np.ones((2,2)))
print ("np.eyes((2)):\n", np.eye((2))) # identity matrix
print("np.random.random((2,2))\n", np.random.random((2,2)))

np.zero((2,2)):
 [[0. 0.]
 [0. 0.]]
np.ones((2,2)):
 [[1. 1.]
 [1. 1.]]
np.eyes((2)):
 [[1. 0.]
 [0. 1.]]
np.random.random((2,2))
 [[0.68346294 0.71270203]
 [0.37025075 0.56119619]]

# Indexing

In [10]:
# Indexing 
x = np.array([1,2,3])
print("x: ", x)
print("x[0]: ", x[0])
x[0] = 0 # resigning the first index with 0
print ("x: ", x)

x:  [1 2 3]
x[0]:  1
x:  [0 2 3]

In [11]:
# Slicing or selecting part
x = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(x)
print("Column 1: ", x[:, 1])
print("Row 0: ", x[1,:])
print ("x rows 0,1 & cols 1,2: \n", x[0:2, 1:3])

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
Column 1:  [ 2  6 10]
Row 0:  [5 6 7 8]
x rows 0,1 & cols 1,2:
 [[2 3]
 [6 7]]

In [21]:
# Integer array indexing 
print(x)
rows_to_get = np.array([0,1,2])
print("rows_to_get: ",rows_to_get)
cols_to_get = np.array([0,2,1])
print("cols_to_get: ",cols_to_get)
# Combine sequences above to get valuse to get 
print("indexed values: ",x[rows_to_get,cols_to_get])

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
rows_to_get:  [0 1 2]
cols_to_get:  [0 2 1]
indexed values:  [ 1  7 10]

In [24]:
# Boolean arra indexing 
x = np.array([[1, 2], [3, 4], [5, 6]])
print("x: \n",x)
print("x > 2: \n",x > 2)
print("x[x > 2]:\n", x[x > 2])
print("Shape of x[x > 2]: ", x[x > 2].shape)

x:
 [[1 2]
 [3 4]
 [5 6]]
x > 2:
 [[False False]
 [ True  True]
 [ True  True]]
x[x > 2]:
 [3 4 5 6]
Shape of x[x > 2]:  (4,)

In [29]:
# Basic Math
x = np.array([[1,2], [3,4]], dtype=np.float64)
y = np.array([[1,2], [3,4]], dtype=np.float64)
print("x + y:\n", np.add(x,y))
print("x - y:\n", np.subtract(x,y))
print("x * y:\n", np.multiply(x,y))

x + y:
 [[2. 4.]
 [6. 8.]]
x - y:
 [[0. 0.]
 [0. 0.]]
x * y:
 [[ 1.  4.]
 [ 9. 16.]]

# Dot product

In [30]:
# Dot product
a = np.array([[1,2,3], [4,5,6]], dtype=np.float64) # we can specify dtype
b = np.array([[7,8], [9,10], [11, 12]], dtype=np.float64)
c = a.dot(b)
print(f"{a.shape} . {b.shape} = {c.shape}")
print(c)

(2, 3) . (3, 2) = (2, 2)
[[ 58.  64.]
 [139. 154.]]

# Axis operation

In [36]:
# Sum across a dimension
x = np.array([[1,2],[3,4]])
print(x)
print("sum all: ", np.sum(x)) # adding all elements
print("sum axis=0: ", np.sum(x, axis=0, dtype=np.int64)) # adding all elements
print("sum axis=1: ", np.sum(x, axis=1, dtype=np.int64)) # adding all elements

[[1 2]
 [3 4]]
sum all:  10
sum axis=0:  [4 6]
sum axis=1:  [3 7]

In [38]:
# Sum across a dimension
x = np.array([[1,2],[3,4],[5,6]])
print(x)
print("sum all: ", np.sum(x)) # adding all elements
print("sum axis=0: ", np.sum(x, axis=0, dtype=np.int64)) # adding all elements
print("sum axis=1: ", np.sum(x, axis=1, dtype=np.int64)) # adding all elements
print("sum axis=2: ", np.sum(x, axis=1, dtype=np.int64)) # adding all elements

[[1 2]
 [3 4]
 [5 6]]
sum all:  21
sum axis=0:  [ 9 12]
sum axis=1:  [ 3  7 11]
sum axis=2:  [ 3  7 11]

In [40]:
# Min/max
x = np.array ([[1,2,3],[4,5,6]])
print("min: ", x.min()) 
print("max: ", x.max()) 
print("min axis=0: ", x.min(axis=0)) 
print("min axis=1: ", x.min(axis=1)) 
print("max axis=0: ", x.max(axis=0)) 
print("max axis=1: ", x.max(axis=1))

min:  1
max:  6
min axis=0:  [1 2 3]
min axis=1:  [1 4]
max axis=0:  [4 5 6]
max axis=1:  [3 6]

# Broadcasting

In [42]:
# Broadcasting
x = np.array([1,2]) # vector
y = np.array(3) # scalar
z = x + y
print("z:\n", z)

z:
 [4 5]

In [45]:
# Transposing 
x = np.array([[1,2,3],[4,5,6]])
print("x: \n", x)
print("x.shape: ", x.shape)
y = np.transpose(x, (1,0))
print("y: \n", y)
print("y.shape: ", y.shape)
print("y transpose:\n", y.T) # or <<<

x:
 [[1 2 3]
 [4 5 6]]
x.shape:  (2, 3)
y:
 [[1 4]
 [2 5]
 [3 6]]
y.shape:  (3, 2)
y transpose:
 [[1 2 3]
 [4 5 6]]

In [47]:
# Reshaping
x = np.array([[1,2,3,4,5,6]]) 
print(x)
print("x.shape: ", x.shape)
y = np.reshape(x, (2,3))
print("y:\n", y)
print("y.shape: ", y.shape)
z = np.reshape(x, (2, -1))
print("z:\n", z)
print("z.shape: ", z.shape)

[[1 2 3 4 5 6]]
x.shape:  (1, 6)
y:
 [[1 2 3]
 [4 5 6]]
y.shape:  (2, 3)
z:
 [[1 2 3]
 [4 5 6]]
z.shape:  (2, 3)

# Unintended reshaping

In [48]:
x = np.array([[[1, 1, 1, 1], [2, 2, 2, 2], [3, 3, 3, 3]],
              [[10, 10, 10, 10], [20, 20, 20, 20], [30, 30, 30, 30]]])
print ("x:\n", x)
print ("x.shape: ", x.shape)

x:
 [[[ 1  1  1  1]
  [ 2  2  2  2]
  [ 3  3  3  3]]

 [[10 10 10 10]
  [20 20 20 20]
  [30 30 30 30]]]
x.shape:  (2, 3, 4)

In [53]:
# Unintended reshaping 
z_incorrect = np.reshape(x, (x.shape[1], -1))
print("z_incorrect: ", z_incorrect)
print("z_incorrect.shape: ", z_incorrect.shape)

z_incorrect:  [[ 1  1  1  1  2  2  2  2]
 [ 3  3  3  3 10 10 10 10]
 [20 20 20 20 30 30 30 30]]
z_incorrect.shape:  (3, 8)

In [55]:
# Intended reshaping 
y = np.transpose(x, (1,0,2))
print("y:\n",y)
print("y.shape: ", y.shape)
z_correct = np.reshape(y, (y.shape[0], -1))
print("z_correct:\n", z_correct)
print("z_correct.shape: ",z_correct.shape)

y:
 [[[ 1  1  1  1]
  [10 10 10 10]]

 [[ 2  2  2  2]
  [20 20 20 20]]

 [[ 3  3  3  3]
  [30 30 30 30]]]
y.shape:  (3, 2, 4)
z_correct:
 [[ 1  1  1  1 10 10 10 10]
 [ 2  2  2  2 20 20 20 20]
 [ 3  3  3  3 30 30 30 30]]
z_correct.shape:  (3, 8)

# Expanding/ reducing

In [59]:
# Adding dimensions 
x = np.array([[1,2,3],[4,5,6]])
print ("x:\n", x)
print ("x.shape: ", x.shape)
y = np.expand_dims(x, 1)  # expand dim 1 
print ("y: \n", y)
print ("y.shape: ", y.shape)   # notice extra set of brackets are added

x:
 [[1 2 3]
 [4 5 6]]
x.shape:  (2, 3)
y:
 [[[1 2 3]]

 [[4 5 6]]]
y.shape:  (2, 1, 3)

In [65]:
# Removing dimensions 
x = np.array([[[1,2,3]],[[4,5,6]]])
print ("x:\n", x)
print ("x.shape: ", x.shape)
y = np.squeeze(x, 1)  # squeeze dim 1 
print ("y: \n", y)
print ("y.shape: ", y.shape)   # notice extra set of brackets are added

x:
 [[[1 2 3]]

 [[4 5 6]]]
x.shape:  (2, 1, 3)
y:
 [[1 2 3]
 [4 5 6]]
y.shape:  (2, 3)